.cards {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

.cards__list {
  display: grid;
  padding: 0;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  margin: 0;
}
