.card {
  border-radius: 10px;
  max-width: 282px;
  min-height: 361px;
  background-color: white;
  color: black;
  list-style-type: none;
}

.card__image {
  object-fit: cover;
  height: 282px;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 20px 25px;
}

.card__description-content {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-disabled.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border-style: none;
  transition: opacity 0.5s;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}
